<div class="t_b_c"> <div class="t_b_l"><div class="t_b_r"></div></div> </div>
<div id="footer_box">
  <div class="m_l"><div class="m_r">
      <%= link_to '关于我们', :controller => 'about' %>&nbsp;&nbsp;&nbsp;
      <%= link_to '媒体报道', :controller => 'about', :action => 'media' %>&nbsp;&nbsp;&nbsp;
      <%= link_to '广告服务', :controller => 'about', :action => 'ad' %>&nbsp;&nbsp;&nbsp;
      <%= link_to '版权说明', :controller => 'about', :action => 'copyright' %>&nbsp;&nbsp;&nbsp;
      <%= link_to '加入我们', :controller => 'about', :action => 'joinus' %>&nbsp;&nbsp;&nbsp;
      <%= link_to '联系我们', :controller => 'about', :action => 'contact' %>&nbsp;&nbsp;&nbsp;
      <%= link_to '友情链接', :controller => 'about', :action => 'friends' %>&nbsp;&nbsp;&nbsp;
      <%= link_to '客户登录', login_path %>&nbsp;&nbsp;&nbsp;
      <br />
      Copyright 2005-2008, 版权所有mimimama.com&nbsp;TEL:+86 028 66288015,4006-829-353<br />
      鲁ICP备<a href="http://www.miibeian.gov.cn/" target="_blank" title="ÍøÂç±¸°¸ºÅ06011367">06011367</a>号
</div></div></div>
<div class="b_c"><div class="b_l"><div class="b_r"></div></div></div>
